{% extends "_base.txt.j2" %}
{% block content %}
Your password was changed

Hi {{ user_name }},

The password for your {{ app_name }} account was changed on {{ changed_at }}.
You are still signed in on this device; every other session has been signed
out.

DIDN'T DO THIS?
Someone else may have access to your account. Reset your password immediately
and contact us at {{ support_email }}.

If you made this change, no further action is needed. We send this notice
every time an account password changes.
{% endblock %}
