{% extends "_base.txt.j2" %}
{% block content %}
Reset your password

Hi {{ user_name }},

We received a request to reset the password for your {{ app_name }} account.
Open this link to choose a new one:

  {{ reset_url }}

The link is valid for {{ expires_in_minutes }} minute{{ "" if expires_in_minutes == 1 else "s" }} and can only be used once.

If you didn't request this, your password is unchanged and you can safely
ignore this email.
{% endblock %}
