{% extends "_base.html.j2" %}
{% block preheader %}Choose a new password for your {{ app_name }} account.{% endblock %}
{% block content %}
{% from "_macros.html.j2" import button, fallback %}
<h1 style="margin: 0 0 18px; font-size: 21px; line-height: 28px; font-weight: 600; color: #16233c;">Reset your password</h1>
<p style="margin: 0 0 16px;">Hi {{ user_name }},</p>
<p style="margin: 0 0 16px;">We received a request to reset the password for your {{ app_name }} account. Choose a new one here:</p>
{{ button(reset_url, "Choose a new password") }}
<p style="margin: 0 0 16px;">This link is valid for {{ expires_in_minutes }} minute{{ "" if expires_in_minutes == 1 else "s" }} and can only be used once.</p>
{{ fallback(reset_url) }}
<p style="margin: 0; color: #5b6472;">If you didn't request this, your password is unchanged and you can safely ignore this email.</p>
{% endblock %}
